name: helm-postgresql

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 21 ]
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{matrix.java-version}}
          check-latest: true
          cache: 'maven'

      - name: Install jbang
        run: |
          curl -Ls https://sh.jbang.dev | bash -s - app setup

      - name: Kubernetes KinD Cluster
        uses: container-tools/kind-action@v1
        with:
          version: v0.11.1
          registry: true

      - name: Install helm 4
        run:
          sudo apt uninstall helm
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-4
          chmod 700 get_helm.sh
          ./get_helm.sh
          helm version

      - name: Install postgresql helm chart
        run: |
          K8S_NAMESPACE=helm
          CHARTS=$(pwd)/.github/charts
          kubectl create namespace $K8S_NAMESPACE
          
          helm install postgresql-db $CHARTS/postgresql-18.2.4 -n $K8S_NAMESPACE
          helm status postgresql-db -n $K8S_NAMESPACE




