name: helm-postgresql

on:
  workflow_dispatch:

env:
  K8S_NAMESPACE: helm

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 21 ]
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{matrix.java-version}}
          check-latest: true
          cache: 'maven'

      - name: Install jbang
        run: |
          curl -Ls https://sh.jbang.dev | bash -s - app setup

      - name: Kubernetes KinD Cluster
        uses: container-tools/kind-action@v1
        with:
          version: v0.11.1
          registry: true

      - name: Install helm 4
        run: |
          sudo apt remove helm
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-4
          chmod 700 get_helm.sh
          ./get_helm.sh
          helm version

      - name: Install postgresql helm chart
        run: |
          CHARTS=$(pwd)/.github/charts
          kubectl create namespace $K8S_NAMESPACE
          
          helm install postgresql-db $CHARTS/postgresql-18.2.4 -n $K8S_NAMESPACE
          helm status postgresql-db -n $K8S_NAMESPACE

      - name: Debug PostgreSQL Failure
        if: failure()
        run: |
          echo "::group::Kubernetes Events"
          kubectl get events -n $K8S_NAMESPACE --sort-by='.lastTimestamp' | grep -i "postgresql" || true
          echo "::endgroup::"

          echo "::group::Pod Description"
          kubectl describe pod postgresql-db -n $K8S_NAMESPACE
          echo "::endgroup::"

          echo "::group::Crash logs (Previous Instance)"
          kubectl logs postgresql-db -n $K8S_NAMESPACE --previous || echo "No previous logs available."
          echo "::endgroup::"    




